<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
@RenderSection("head", required: false)
<link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Site Metas -->
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<title>Sequentec Solutions - @Page.Title</title>
<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
<body class="seo_version">
    <!-- LOADER -->
  @*  <div id="preloader">
        <div class="loader-wrapper">
            <div class="loader-new">
                <div class="ball">
                </div>
                <div class="ball">
                </div>
                <div class="ball">
                </div>
            </div>
            <div class="text">
                LOADING...</div>
        </div>
    </div>*@
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/Seqlogo2.png" alt="" style="height:70px;" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-seo" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-seo">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="index.cshtml">Home</a></li>

                        	<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">About Us</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="About_Sequentec.cshtml">About Sequentec</a>
							@*	<a class="dropdown-item" href="Sequentec_Profile.cshtml">Company Profile</a>								*@
                                <a class="dropdown-item" href="Target_Industries.cshtml">Industries We Serve</a>	
                                <a class="dropdown-item" href="Sequentec_Team.cshtml">About Our Team</a>	
<!--
								<a class="dropdown-item" href="Sequentec_Methodology.cshtml">Our Methodology</a>
								<a class="dropdown-item" href="Partner_with_Sequentec.cshtml">Partner with Sequentec</a>								
-->
                                @*<a class="dropdown-item" href="Why_Sequentec.cshtml">Why Sequentec</a>*@
							</div>
						</li>		

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Services </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="Software_Product_Development_Service.cshtml">Software Product Development</a>
							    <a class="dropdown-item" href="Web_Application_Development.cshtml">Web Application Development</a> 					
                            <a class="dropdown-item" href="Cloud_Application_Development.cshtml">Cloud Application Development</a>
                            <a class="dropdown-item" href="Progressive_Web_App_Development.cshtml">Progressive Web App Development</a>
                            <a class="dropdown-item" href="Custom_Application_Development_Service.cshtml">Custom Application Development</a>
                            <a class="dropdown-item" href="Legacy_Migration_Service.cshtml">Legacy Migration Service</a>
                            <a class="dropdown-item" href="Application_Modernization_Service.cshtml">Application Modernization Service</a>
                            <a class="dropdown-item" href="Application_Maintenance_Service.cshtml">Application Maintenance Service</a>
                            <!--<a class="dropdown-item" href="Software_Development_Services.cshtml">Software Development Services</a>-->
                            
                            <!--<a class="dropdown-item" href="System_Integration_Service.cshtml">System Integration Service</a>-->                            
                            
                            <!--<a class="dropdown-item" href="eCommerce_Website_Development.cshtml">eCommerce Website Development</a>
                            <a class="dropdown-item" href="Software_Project_Management.cshtml">Software Project Management</a>
                            -->
@*Web Application Development
Cloud Application Development
MS Dynamics CRM Development
Application Modernization
Progressive Web App Development
Software Development Services
Software Product Development
Mobile App Development
Software Maintenance Services
eCommerce Website Development
*@
							</div>
						</li>		
                        
				<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Products</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								@*<a class="dropdown-item" href="services.html">Microsoft Dot Net</a>*@
													
								
								<a class="dropdown-item" href="Rapid_Application_Development_Engine_AppFlex.cshtml">Rapid Application Development Engine (AppFlex)</a>	                                
                                <a class="dropdown-item" href="Life_Insurance_Management_System.cshtml">Life Insurance Management System</a>		
                                @*<a class="dropdown-item" href="E_Governance_Scheme_Management_Framework.cshtml">E-Governance Scheme Management Framework</a>	*@
                                <a class="dropdown-item" href="Human_Resource_Management_System_HRMS.cshtml">Human Resource Management System (HRMS)</a>
                                @*<a class="dropdown-item" href="Library_Automation_Software.cshtml">Physical & Virtual Library Automation Software</a>*@

@*								
                                <a class="dropdown-item" href="services.html">Databases</a>*@
							</div>
						</li>							
                        <!--
                        <li class="nav-item"><a class="nav-link" href="case_studies.cshtml">Case Studies</a></li>
                        	-->
						@*<li class="nav-item"><a class="nav-link" href="contact_sequentec.cshtml">Contact</a></li>*@
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <!-- End header -->
    <div class="all-page-title" style="background-image: url(images/pattern-4.png);">
        <!--Page -->
        @*       <div class="page-info">
            <div class="container">
            	<div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="index.html">Home</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><span>Pricing</span></li>
                    </ul>
                </div>
            </div>
        </div>*@
        <!--End Page-->
        <div class="container text-center">
            <h1>
                @Page.title</h1>
            <p>
                @Page.description</p>
        </div>
    </div>
    <!-- end section -->
    @RenderBody()
    <div id="support" class="section db">
        <div class="container">
            <h3>
                List of Select Clients</h3>
            <div class="row" style="background-color: White;">
                @*<div id="logo-carousel" class="owl-carousel">*@
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/Amtax1.gif" alt="" /></div>
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/birla_sunlife.jpg" alt="" /></div>
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/ChamsPlc-Nigeria.jpg" alt="" /></div>      
                    
                                        <div style="padding: 10px">
                    <img height="130px" src="images/clients/vispl1.jpg" alt="" /></div>
          
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/mnyl.png" alt="" /></div>
                    <div style="padding: 10px">
                    <img height="130px" src="images/clients/sbilife1.png" alt="" /></div>
                    <div style="padding: 10px">
                    <img height="130px" width="200px" src="images/clients/ujvnl1.png" alt="" /></div>
                    
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/cybermedia1.jpg" alt="" /></div>
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/techmahindra1.png" alt="" /></div>
                <div style="padding: 10px">
                    <img height="130px" width="300px" src="images/clients/VarenTax USA.jpg" alt="" /></div>
                
                
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/Gurukul.jpg" alt="" /></div>
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/FIRS_Nigeria.jpg" alt="" /></div>
                @*                         <div style="padding:10px">
                    <img height="130px" src="images/clients/techmahindra2.jpg" alt="" /></div>*@
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/ricoh2.png" alt="" /></div>

                    <div style="padding: 10px">
                    <img height="130px" src="images/clients/rsmssb1.jpg" alt="" /></div>

                
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/rajcomp.jpg" alt="" /></div>

                    <div style="padding: 10px">
                    <img height="130px" src="images/clients/vispl.png" alt="" /></div>

                <div style="padding: 10px">
                    <img height="130px" src="images/clients/q3edge.jpg" alt="" /></div>
                
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/pnbmetlife.png" alt="" /></div>
                
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/sjelogo1.jpg" alt="" /></div>

                    <div style="padding: 10px">
                    <img height="130px" src="images/clients/samtech1.png" alt="" /></div>

                <div style="padding: 10px">
                    <img height="130px" src="images/clients/ModuleMD3.png" alt="" /></div>

                    
                @*
                <div style="padding: 10px">
                    <img height="130px" src="images/clients/Bhagwati_Law_USA.jpg" alt="" /></div>*@
                @*</div>*@
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <footer class="footer">
        <div class="container">
            <div class="row">
             				<div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>SERVICES</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="Web_Application_Development.cshtml">Web Application Development</a></li> 					
                            <li><a href="Cloud_Application_Development.cshtml">Cloud Application Development</a></li>
                            <li><a href="Custom_Application_Development_Service.cshtml">Custom Application Development</a></li>
                            <li><a href="Legacy_Migration_Service.cshtml">Legacy Migration Service</a></li>
                            <li><a href="Application_Modernization_Service.cshtml">Application Modernization Service</a></li>
                            <li><a href="Progressive_Web_App_Development.cshtml">Progressive Web App Development</a></li>
                            <!--<li><a href="Software_Development_Services.cshtml">Software Development Services</a></li>-->
                            <li><a href="Software_Product_Development_Service.cshtml">Software Product Development</a></li>
                            <!--<li><a href="System_Integration_Service.cshtml">System Integration Service</a></li>-->                            
                            <li><a href="Application_Maintenance_Service.cshtml">Application Maintenance Service</a></li>
                            <!--<li><a href="eCommerce_Website_Development.cshtml">eCommerce Website Development</a></li>-->
                            <li><a href="Software_Project_Management.cshtml">Software Project Management</a></li>
<!--
                            <li><a href="#">Mobile App Development</a></li>
							<li><a href="#">Digital Marketing</a></li>
							<li><a href="#">Quality Assurance</a></li>                            
                            <li><a href="#">Application Support</a></li>
                            -->

                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
				<div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Solutions</h3>
                        </div>
                        <ul class="footer-links">

								<li><a href="Rapid_Application_Development_Engine_AppFlex.cshtml">Rapid Application Development Engine (AppFlex)</a>	</li>                                
                                <li><a href="Life_Insurance_Management_System.cshtml">Life Insurance Management System</a>		</li>
                                @*<a class="dropdown-item" href="E_Governance_Scheme_Management_Framework.cshtml">E-Governance Scheme Management Framework</a>	*@
                                <li><a href="Human_Resource_Management_System_HRMS.cshtml">Human Resource Management System (HRMS)</a></li>
                                @*<a class="dropdown-item" href="Library_Automation_Software.cshtml">Physical & Virtual Library Automation Software</a>*@
@*                            <li><a href="#">Human Resource Software</a></li>
                            <li><a href="#">Print Management Software</a></li>
                            <li><a href="#">Insurance Software Solutions</a></li>                            
                            <li><a href="#">Healthcare Software Solutions</a></li>
                            <li><a href="#">Manufacturing Software Solutions</a></li>
                            <li><a href="#">Retail Software Solutions</a></li>
                            <li><a href="#">Travel & Hospitality Solutions</a></li>
*@                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Case Studies</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Library Automation Software</a></li>
                            <li><a href="#">CMS Framework Development</a></li>                                                    
							<li><a href="#">Insurance Management System</a></li>
							
                            <li><a href="#">Electronic Health Record Software</a></li>
                        @*    <li><a href="#">E-Governance Workflow Automation</a></li>							
                            <li><a href="#">ERP & CRM Development</a></li>
                            <li><a href="#">Legacy Data Migration</a></li>    		*@

                              	
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Working Methodologies</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Our Approach for IT Outsourcing</a></li>
                            <li><a href="#">Approach for Product Development</a></li>
                            <li><a href="#">Approach for Project Management</a></li>
                            <li><a href="#">Approach for Technical Support</a></li>
                        @*    <li><a href="#">E-Governance Workflow Automation</a></li>							
                            <li><a href="#">ERP & CRM Development</a></li>
                            <li><a href="#">Legacy Data Migration</a></li>    		*@
                            					
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                
                            					
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
              
				
                		<div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>                            
                             <i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>Registered Office
                            </h3>
                        </div>

                        <ul class="footer-links">                            
                            <li> BG-7/131, Paschim Vihar, <br />New Delhi, INDIA<br />
                            <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@sequentec.com">info@sequentec.com</a><br />
                            <i class="fa fa-phone" aria-hidden="true"></i>+91 9871198857</li>
                        </ul>

 
                          <div class="widget-title"><br />
                            <h3>                            
                             <i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>New Jersy, USA
                            </h3>
                        </div>

                        <ul class="footer-links">                            
                            <li>Amtax Inc, 2100 US-1,<br /> North Brunswick Township,<br /> NJ, 08902, USA<br />
                          <i class="fa fa-phone" aria-hidden="true"></i>+1 (732) 485-0800</li>
                        </ul>
                         <div class="widget-title"><br />
                            <h3>                            
                             Lagos, Nigeria
                            </h3>
                        </div>

                        <ul class="footer-links">                            
                            <li> 34, Curtis Adeniyi Jones Close

Off Adeniran, Ogunsanya

Surelere,<br /> Lagos, Nigeria<br />
                            
                        </ul>				


            </div><!-- end row -->
        </div><!-- end container -->
    </footer>
    <!-- end footer -->
    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">
                        Copyright © 2009 - @DateTime.Today.Year Sequentec Solutions. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end copyrights -->
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/tippy.all.min.js"></script>
    <script>
        tippy('.btn-a')
	</script>
</body>
</html>
